<nav class="main-nav">
  <ul>

    <div class="nav_close-item">
      {% include go-back.html %}
    </div>

    <li class="nav-item translatable-element" lang="es"><a href="{{ 'proyectos/' | relative_url }}">Proyectos</a></li>
    <li class="nav-item translatable-element" lang="en"><a href="{{ 'en/projects/' | relative_url }}">Projects</a></li>
    <li class="nav-item translatable-element" lang="es"><a href="{{ 'colaboraciones/' | relative_url }}">Colaboraciones</a></li>
    <li class="nav-item translatable-element" lang="en"><a href="{{ 'en/collabs/' | relative_url }}">Collaborations</a></li>
    <li class="nav-item translatable-element" lang="es"><a href="{{ 'entrevistas/' | relative_url }}">Entrevistas</a></li>
    <li class="nav-item translatable-element" lang="en"><a href="{{ 'en/interviews/' | relative_url }}">Interviews</a></li>
    <li class="nav-item translatable-element" lang="es"><a href="{{ 'bio/' | relative_url }}">Bio</a></li>
    <li class="nav-item translatable-element" lang="en"><a href="{{ 'en/bio/' | relative_url }}">Bio</a></li>

    <li id="lang-selector" class="selector-item">En/Es</li>

  </ul>
</nav>